**/*.npy
dll_build_sample.c
*.o
**/*.o
*.log
logs
*.pyd
*.pdb
*.exp
*.lib
*.obj
*.exe
*Cffi.c
.ipynb_checkpoints
__pycache__
.pytest_cache
tests/data/spectra*
tests/data/*.odx
Release
Cffi
llvmlite
numba
numpy
pycparser
pkg_resources
scipy
setuptools
*.pyd
*.pyc
distutils-precedence.pth
python39*
python.cat
_distutils_hack
bin
